{% extends "modelview/detail_view.html" %}
{% load bootstrap4 %}
{% load static %}
{% load modelview_extras %}

{% block main-right-sidebar-content-actions %}
  <a class="btn btn-info" href="edit"><span class="fas fa-edit"></span>Edit</a>
{% endblock main-right-sidebar-content-actions %}

{% block factsheets_content %}
  <h3>{{ model.name }}</h3>
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#BasicInformation">General Information</a>
      </div>
      <div id="BasicInformation" class="title= collapse in card-body">
        <table class="profiletable">
          {% include 'modelview/model_snippet.html' with model=model field='name' %}
          {% include 'modelview/model_snippet.html' with model=model field='abbreviation' %}
          {% include 'modelview/model_snippet.html' with model=model field='definition' %}
          {% include 'modelview/model_snippet.html' with model=model field='target_driven' %}
          {% include 'modelview/model_snippet.html' with model=model field='measure_driven' %}
          {% include 'modelview/model_snippet.html' with model=model field='new_aspects' %}
          {% include 'modelview/model_snippet.html' with model=model field='sensitivities' %}
        </table>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#AnalysisSpace">Analysis Space</a>
      </div>
      <div id="AnalysisSpace" class="title= collapse in card-body">
        <table class="profiletable">
          <tr>
            <th> Temporal </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='scenario_years' %}
          {% include 'modelview/model_snippet.html' with model=model field='typical_year' %}

          <tr>
            <th> Spatial </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='territory' %}
          {% include 'modelview/model_snippet.html' with model=model field='international_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='area_outside' %}
          {% include 'modelview/model_snippet.html' with model=model field='upstream' %}
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#Resolution">Resolution</a>
      </div>
      <div id="Resolution" class="title= collapse in card-body">
        <table class="profiletable">
          <tr>
            <th> Resolution of the analysis space </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='temporal_resolution' %}
          {% include 'modelview/model_snippet.html' with model=model field='spatial_resolution' %}
          <tr>
            <th> Modelled energy sectors </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='modeled_energy_sectors_electricity' %}
          {% include 'modelview/model_snippet.html' with model=model field='modeled_energy_sectors_heat' %}
          {% include 'modelview/model_snippet.html' with model=model field='modeled_energy_transport' %}
          <tr>
            <th> Modelled demand sectors </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='modeled_energy_sectors_electricity' %}
          <tr>
            <th> Modelled energy demand sectors </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors_energy' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors_industries' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors_manufacturing' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors_tertiary' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors_private' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_demand_sectors_other' %}
          <tr>
            <th> Modelled non-energy sectors </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='sectors_agriculture' %}
          {% include 'modelview/model_snippet.html' with model=model field='sectors_lulucf' %}
          {% include 'modelview/model_snippet.html' with model=model field='sectors_waste' %}
          {% include 'modelview/model_snippet.html' with model=model field='sectors_other' %}

          <tr>
            <th> Fuels </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='fuels_fossil' %}
          {% include 'modelview/model_snippet.html' with model=model field='fuels_nuclear' %}
          {% include 'modelview/model_snippet.html' with model=model field='fuels_renewable' %}
          {% include 'modelview/model_snippet.html' with model=model field='fuels_secondary' %}
          {% include 'modelview/model_snippet.html' with model=model field='fuels_synthetic' %}
          {% include 'modelview/model_snippet.html' with model=model field='fuels_other' %}

        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#ModellingResults">Modelling results</a>
      </div>
      <div id="ModellingResults" class="title= collapse in card-body">
        <table class="profiletable">
          <tr>
            <th> Energy flows </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='primary_energy' %}
          {% include 'modelview/model_snippet.html' with model=model field='final_energy' %}
          {% include 'modelview/model_snippet.html' with model=model field='other_energy' %}

          <tr>
            <th> Installed capacities </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='energy_producers' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_storages' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_consumers' %}

          <tr>
            <th> Installed capacities </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='energy_producers' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_storages' %}
          {% include 'modelview/model_snippet.html' with model=model field='energy_consumers' %}

          <tr>
            <th> Potentials </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='theoretical_potential' %}
          {% include 'modelview/model_snippet.html' with model=model field='technical_potential' %}
          {% include 'modelview/model_snippet.html' with model=model field='economic_potential' %}
          {% include 'modelview/model_snippet.html' with model=model field='developable_potential' %}

          <tr>
            <th> Potentials </th>
          </tr>
          <tr>
            <th> Greenhouse gas emissions </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='ef_Greenhouse_gas_emissions' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_carbon_dioxide' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_methane' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_nitrous_oxide' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_hydrofluorocarbons' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_perfluorocarbons' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_sulphur_hexafluoride' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_nitrogen_fluoride' %}
          <tr>
            <th> Air pollutants </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='ef_carbon_monoxide' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_nitrogen_oxide' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_nmvoc' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_sulfur_dioxide' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_ammonia' %}
          {% include 'modelview/model_snippet.html' with model=model field='ef_pm' %}

        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#Exogeneous">Exogeneous data (modelling input)</a>
      </div>
      <div id="Exogeneous" class="title= collapse in card-body">
        <table class="profiletable">
          <tr>
            <th> Population </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_population' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_population' %}

          <tr>
            <th> Economic data </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_gdp' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_gva' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_economic_other' %}

          <tr>
            <th> Prices </th>
          </tr>

          <tr>
            <th> Primary energy prices </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_coal' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_petroleum' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_natural_gas' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_other_primary' %}

          <tr>
            <th> Secondary energy prices </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_electricity' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_heat' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_liquid_fuels' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_synthetic_fuels' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_prices_energy_other_secondary' %}

          <tr>
            <th> Carbon prices </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_ets' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_carbon_prices_other' %}

          <tr>
            <th> Investment cost </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_producers' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_storage' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_other' %}

          <tr>
            <th> Investment cost </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_producers' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_storage' %}
          {% include 'modelview/model_snippet.html' with model=model field='exogeneous_investment_cost_other' %}

        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#endogene">Endogene data (calculated by model)</a>
      </div>
      <div id="endogene" class="title= collapse in card-body">
        <table class="profiletable">
          <tr>
            <th> Population </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='endogene_population' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_population' %}

          <tr>
            <th> Economic data </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='endogene_gdp' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_gva' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_economic_other' %}

          <tr>
            <th> Prices </th>
          </tr>

          <tr>
            <th> Primary energy prices </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_coal' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_petroleum' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_natural_gas' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_other_primary' %}

          <tr>
            <th> Secondary energy prices </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_electricity' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_heat' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_liquid_fuels' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_synthetic_fuels' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_prices_energy_other_secondary' %}

          <tr>
            <th> Carbon prices </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='endogene_ets' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_carbon_prices_other' %}

          <tr>
            <th> Investment cost </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_producers' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_storage' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_other' %}

          <tr>
            <th> Investment cost </th>
          </tr>
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_producers' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_transport' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_storage' %}
          {% include 'modelview/model_snippet.html' with model=model field='endogene_investment_cost_other' %}

        </table>
      </div>
    </div>

  </div>

{% endblock %}
